* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	text-rendering: optimizeLegibility;
	scroll-behavior: smooth;
}

h1,h2,h3,h4{
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

p, a {
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


figure img {
	width: 100%;
	height: auto;
}

.has-error {
	border: 1px solid red !important;
}

.horizon {
	opacity: 0;
}


.flex {
	display: flex;
}


.container {
	max-width: 1200px;
	margin: auto;
}

header {
	padding-top: 45px;
	margin-bottom: 150px;
}

header .flex {
	justify-content: space-between;
    align-items: center;
}

header nav {
	display: flex;
}

header nav .close {
	display: none;
}

header nav a {
	color: #4F4F4F;
	font-family: Montserrat;
	font-size: 0.875rem;
	line-height: 17px;
	text-align: center;
	text-decoration: none;
	margin-right: 0.9375rem;
}

.burger {
    width: 52px;
    height: 52px;
    background: #1A448F;
    border-radius: 100%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 13px;
    cursor: pointer;
}

.burger span {
    width: 90%;
    height: 2px;
    background: #fff;
    display: block;
    margin-bottom: 3px;
    text-align: right;
}

.burger span:nth-child(2) {
    width: 75%;
}


header nav a.btn-azul_pd {
	border-radius: 7px;
	background: #1A448F;
	color: #FFF;
	font-family: Montserrat;
	font-size: 14px;
	letter-spacing: 2.87px;
	line-height: 17px;
}

header nav a.btn-azul_pd.login {
	display: inline-block;
	height: 30px;
  	width: 212px;
	margin-left: 5rem;
	margin-right: 1.25rem;
	text-align: center;
	line-height: 30px;
}

header nav a.btn-azul_pd.contacto {
	display: inline-block;
  	height: 30px;
  	width: 162px;
	margin-right: 0;
	text-align: center;
	line-height: 30px;
}

header nav a.btn-azul_pd:hover {
	background: #FFF;
	color: #1A448F;
	border: 1px solid #1A448F;
}


div.poup-colaboradores {
	width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.80);
    transition: all .3s ease;
    z-index: 9;
    display: none;
    overflow: hidden;
}


div.poup-colaboradores span.close {
    position: absolute;
    right: 170px;
    top: 80px;
    display: block;
    cursor: pointer;
}

div.poup-colaboradores h3 {
    text-align: center;
    font-size: 3rem;
    font-family: Montserrat;
    display: block;
    margin-bottom: 20px;
    /*margin-top: 70px;*/
}


div.poup-colaboradores p {
	font-family: Montserrat;
	font-size: 18px;
	padding-left: 30px;
	padding-right: 30px;
	margin-bottom: 40px;
	text-align: center;
}


div.poup-colaboradores .container {
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	max-width: 700px;
	background: #fff;
	padding-top: 50px;
	padding-bottom: 50px;
	padding-left: 50px;
	padding-right: 50px;
	position: relative;
}

div.poup-colaboradores .container .close {
	position: absolute;
	right: 15px;
	top: 5px;
	display: block;
	cursor: pointer;
	font-weight: 100;
}


div.poup-colaboradores .container form {
	display: flex;
	flex-direction: column;
	align-items: end;
	width: 90%;
}


div.poup-colaboradores .container form input {
	width: 100%;
	height: 50px;
	text-transform: none;
	font-weight: normal;
	letter-spacing: 0.1rem;
	color: #666;
	outline: none;
	font-family: Montserrat;
	font-size: 16px;
	background-color: #f4f4f4;
	border: 1px solid #f4f4f4;
	margin-bottom: 20px;
	padding-left: 30px;
}


div.poup-colaboradores .container form input::placeholder {
	padding-left: 30px;
}


div.poup-colaboradores .container form button {
	width: 200px;
	height: 50px;
	background: #1A448F;
	border: none;
	color: #fff;
	cursor: pointer;
	font-family: Montserrat;
	font-size: 13px;
	font-weight: 200;
}

div.poup-empresas {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.80);
    transition: all .3s ease;
    z-index: 9;
    display: none;
    overflow: hidden;
}

div.poup-empresas span.close {
    position: absolute;
    right: 170px;
    top: 80px;
    display: block;
    cursor: pointer;
}

div.poup-empresas h3 {
    text-align: center;
    font-size: 3rem;
    font-family: Montserrat;
    display: block;
    margin-bottom: 20px;
    /*margin-top: 70px;*/
}


div.poup-empresas p {
	font-family: Montserrat;
	font-size: 18px;
	padding-left: 30px;
	padding-right: 30px;
	margin-bottom: 40px;
	text-align: center;
}


div.poup-empresas .container {
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	max-width: 700px;
	background: #fff;
	padding-top: 50px;
	padding-bottom: 50px;
	padding-left: 50px;
	padding-right: 50px;
	position: relative;
}

div.poup-empresas .container .close {
	position: absolute;
	right: 15px;
	top: 5px;
	display: block;
	cursor: pointer;
	font-weight: 100;
}


div.poup-empresas .container form {
	display: flex;
	flex-direction: column;
	align-items: end;
	width: 90%;
}


div.poup-empresas .container form input {
	width: 100%;
	height: 50px;
	text-transform: none;
	font-weight: normal;
	letter-spacing: 0.1rem;
	color: #666;
	outline: none;
	font-family: Montserrat;
	font-size: 16px;
	background-color: #f4f4f4;
	border: 1px solid #f4f4f4;
	margin-bottom: 20px;
	padding-left: 30px;
}


div.poup-empresas .container form input::placeholder {
	padding-left: 30px;
}


div.poup-empresas .container form button {
	width: 200px;
	height: 50px;
	background: #1A448F;
	border: none;
	color: #fff;
	cursor: pointer;
	font-family: Montserrat;
	font-size: 13px;
	font-weight: 200;
}


section.quepago {
	margin-bottom: 200px;
}

section.quepago .container div {
	width: 40%;
	padding-top: 20px;
}

section.quepago .container figure {
	width: 60%;
}


section.quepago .container div h2 {
	color: #4F4F4F;
	font-family: Montserrat;
	font-size: 40px;
	letter-spacing: 15.13px;
	line-height: 49px;
	font-weight: 400;
	margin-bottom: 57px;
}

section.quepago .container div p {
	color: #333;
	font-family: Arial;
	font-size: 20.16px;
	letter-spacing: 3px;
	line-height: 23px;
	margin-bottom: 70px;
}


section.quepago .container div button {
	border-radius: 7px;
  	background-color: #1A448F;
  	color: #FFF;
	font-family: Montserrat;
	font-size: 20px;
	font-weight: 200;
	letter-spacing: 3.58px;
	line-height: 24px;
	text-align: center;
	height: 41px;
  	width: 221.31px;
	text-decoration: none;
	margin-right: 16px;
	border: 2px solid #1A448F;
	cursor: pointer;
	margin-bottom: 30px;
}

section.quepago .container div button:hover {
	background-color: #fff;
	color: #1A448F;

}


/*section.quepago .container div button.noactive {
	background-color: #fff;
	color: #018FC0;
	border: 2px solid #018FC0;
	cursor: pointer;
}*/

/*section.quepago .container div button.noactive:hover {
	background-color: #018FC0;
	color: #fff;
	border: 2px solid #018FC0;
	cursor: pointer;
}*/


section.section-funcionamiento {
	margin-bottom: 200px;
}

section.section-funcionamiento .container h2 {
	color: #4F4F4F;
	font-family: Montserrat;
	font-weight: 400;
	font-size: 40px;
	letter-spacing: 15.13px;
	line-height: 49px;
	margin-bottom: 150px;
	text-align: center;
}

section.section-funcionamiento .container .container-funcionamiento p {
	color: #666;
	font-family: Montserrat;
	font-size: 26px;
	font-weight: 300;
	line-height: 32px;
}


section.section-funcionamiento .container {
	flex-direction: column;
}

section.section-funcionamiento .container-funcionamiento {
	display: flex;
}

section.section-funcionamiento .container-funcionamiento div {
	width: 50%;
}

section.section-funcionamiento .container-funcionamiento figure {
	width: 50%;
	position: relative;
}


section.section-funcionamiento .container-funcionamiento figure::before {
	content: '';
    position: absolute;
    top: -75px;
    left: 0px;
    width: 43%;
    height: 97%;
    background: #1A448F;
    z-index: -1;
}


section.section-funcionamiento .container-funcionamiento div p:first-child {
	margin-bottom: 50px;
}


section.section-funcionamiento .container-funcionamiento div p {
	margin-bottom: 17px;
}


section.section-funcionamiento .container-funcionamiento div button {
	margin-top: 80px;
	height: 47px;
	width: 401px;
	border-radius: 7px;
	background-color: #1A448F;
	color: #FFF;
	font-family: Montserrat;
	font-weight: 200;
	font-size: 20px;
	letter-spacing: 3.58px;
	line-height: 24px;
	text-align: center;
	cursor: pointer;
	border: none;
}

section.section-funcionamiento .container-funcionamiento div button:hover {
	background-color: #FFF;
	color: #1A448F;
	border: 2px solid #1A448F;
}

section.section-testimonios {
	margin-bottom: 300px;
}

section.section-testimonios .container .titulo-testimonios {
	width: 50%;
	position: relative;
	padding-right: 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

section.section-testimonios .container .titulo-testimonios figure {
	position: absolute;
	top: 145px;
}


section.section-testimonios .container .titulo-testimonios h2 {
	color: #4F4F4F;
	font-family: Montserrat;
	font-size: 40px;
	font-weight: 400;
	letter-spacing: 15.13px;
	line-height: 49px;
	margin-bottom: 40px;
	padding-left: 13px;
}


section.section-testimonios .container .titulo-testimonios p {
	color: #666;
	font-family: Verdana;
	font-size: 26px;
	line-height: 32px;
	padding-left: 13px;
}


.slide-mobile {
	display: none !important;
}

section.section-testimonios .container .slider-testimonios {
	width: 50%;
}

section.section-testimonios .slider-testimonios .container-card {
	display: flex !important;
	flex-wrap: wrap;
	justify-content: center;
}

section.section-testimonios .slider-testimonios .container-card .card-titulo {
	height: 294.37px;
	width: 249.41px;
	opacity: 0.7;
	background-color: #FFF;
	box-shadow: -6px 0 23px 0 rgba(0,0,0,0.13);
	margin-bottom: 47px;
	position: relative;
	padding: 100px 50px 50px 50px;
}


section.section-testimonios .slider-testimonios .container-card .card-titulo p.desc {
	color: #666;
	font-family: Montserrat;
	font-size: 13px;
	font-style: italic;
	line-height: 16px;
}

section.section-testimonios .slider-testimonios .container-card .card-titulo p.cliente_nombre {
	color: #666;
	font-family: Montserrat;
	font-size: 8px;
	font-style: italic;
	line-height: 10px;
	position: absolute;
	bottom: 33px;
	left: 22px;
}

section.section-testimonios .slider-testimonios .container-card .card-titulo figure {
	position: absolute;
	bottom: 16px;
	right: 15px;
}

section.section-testimonios .slider-testimonios .container-card .card-titulo:nth-child(odd) {
	margin-right: 30px;
}


section.como-ayuda .container .container-avatars {
	height: 311px;
  	width: 738px;
  	background-color: #1A448F;
  	position: relative;
}

section.como-ayuda .container .txt-ayuda {
	padding-left: 65px;
	padding-top: 60px;
}


section.como-ayuda .container .txt-ayuda h2 {
	color: #4F4F4F;
	font-family: Montserrat;
	font-weight: 300;
	font-size: 40px;
	letter-spacing: 15.13px;
	line-height: 49px;
	text-align: center;
}


section.como-ayuda .container-avatars .el-juan {
	position: absolute;
	top: -70px;
	left: 83px;
}

section.como-ayuda .container-avatars .ella-maria {
	position: absolute;
	top: -123px;
	left: 0;
}


section.como-ayuda .container-avatars .g-play {
	position: absolute;
	right: 130px;
	top: 90px;
}


section.como-ayuda .container-avatars .avatar-ella {
	position: absolute;
	bottom: 36px;
	left: 32px;
}

section.como-ayuda .container-avatars .avatar-el {
	position: absolute;
	bottom: 36px;
	left: 52%;
}

section.como-ayuda {
	margin-bottom: 400px;
}

section.beneficios-empresas {
	margin-bottom: 250px;
}

section.beneficios-empresas .container {
	flex-direction: column;
}

section.beneficios-empresas .container h2 {
	color: #4F4F4F;
	font-family: Montserrat;
	font-weight: 400;
	font-size: 40px;
	letter-spacing: 15.13px;
	line-height: 49px;
	margin-bottom: 110px;
	text-align: center;
}

section.beneficios-empresas .container .container-beneficiosemp {
	display: flex;
}


section.beneficios-empresas .container .container-beneficiosemp figure {
	width: 50%;
	padding-top: 30px;
}

section.beneficios-empresas .container .container-beneficiosemp div {
	width: 50%;
	padding-left: 40px;
}

section.beneficios-empresas .container .container-beneficiosemp div button {
	height: 47px;
	width: 401px;
	border-radius: 7px;
	background: #1A448F;
	color: #FFF;
	font-family: Montserrat;
	font-weight: 200;
	font-size: 20px;
	letter-spacing: 3.58px;
	line-height: 24px;
	text-align: center;
	border: 2px solid #1A448F;
	margin-bottom: 35px;
	cursor: pointer;
}

section.beneficios-empresas .container .container-beneficiosemp div button:hover {
	background: #FFF;
	color: #1A448F;
}

/*section.beneficios-empresas .container .container-beneficiosemp div button.noactive {
	color: #1A448F;
	background: #fff;
	border: 2px solid #1A448F;
}*/

section.beneficios-empresas .container .container-beneficiosemp div p:first-child {
	margin-bottom: 50px;
}

section.beneficios-empresas .container .container-beneficiosemp div p {
	color: #666;
	font-family: Montserrat;
	font-size: 26px;
	line-height: 32px;
	margin-bottom: 17px;
}


section.beneficios-empresas .container .container-beneficiosemp div p:nth-child(5) {
	margin-bottom: 80px;
}

section.beneficios-colab {
	margin-bottom: 300px;
}

section.beneficios-colab .container {
	flex-direction: column;
}

section.beneficios-colab .container h2 {
	color: #4F4F4F;
	font-family: Montserrat;
	font-weight: 400;
	font-size: 40px;
	letter-spacing: 15.13px;
	line-height: 49px;
	text-align: center;
	margin-bottom: 110px;
}

section.beneficios-colab .container .container-beneficioscolab {
	display: flex;
}

section.beneficios-colab .container .container-beneficioscolab div {
	width: 50%;
	padding-top: 55px;
	padding-right: 20px;
}

section.beneficios-colab .container .container-beneficioscolab div p:first-child {
	margin-bottom: 50px;
}

section.beneficios-colab .container .container-beneficioscolab div p:nth-child(5) {
	margin-bottom: 80px;
}

section.beneficios-colab .container .container-beneficioscolab div p {
	color: #666;
	font-family: Montserrat;
	font-size: 26px;
	line-height: 32px;
	margin-bottom: 17px;
}

section.beneficios-colab .container .container-beneficioscolab figure {
	width: 50%;
}

section.beneficios-colab .container .container-beneficioscolab div button {
	height: 47px;
	width: 401px;
	border-radius: 7px;
	background: #1A448F;
	color: #FFF;
	font-family: Montserrat;
	font-weight: 200;
	font-size: 20px;
	letter-spacing: 3.58px;
	line-height: 24px;
	text-align: center;
	border: 2px solid #1A448F;
	margin-bottom: 35px;
	cursor: pointer;
}

section.beneficios-colab .container .container-beneficioscolab div button:hover {
	background: #FFF;
	color: #1A448F;
}

section.media-section figure {
	width: 50%;
	position: relative;
}


section.media-section figure::before {
	content: '';
    position: absolute;
    top: -75px;
    left: 0px;
    width: 57%;
	height: 102%;
    background: #1A448F;
    z-index: -1;
}

section.media-section div.container div {
	width: 50%;
	padding-top: 40px;
}

section.media-section div h2 {
	color: #4F4F4F;
	font-family: Montserrat;
	font-weight: 400;
	font-size: 40px;
	letter-spacing: 15.13px;
	line-height: 49px;
	margin-bottom: 128px;
}


section.media-section div p {
	color: #666;
	font-family: Montserrat;
	font-size: 26px;
	line-height: 32px;
	margin-bottom: 72px;
}


section.media-section div button {
	height: 47px;
	width: 221px;
	border-radius: 7px;
	background-color: #1A448F;
	color: #FFF;
	font-family: Montserrat;
	font-weight: 200;
	font-size: 20px;
	letter-spacing: 3.58px;
	line-height: 24px;
	text-align: center;
	cursor: pointer;
	border: 2px solid #1A448F;
}


section.media-section div button:hover {
	background-color: #fff;
	color: #1A448F;
}


section.media-section {
	margin-bottom: 280px;
}


footer {
	background: #1A448F;
	padding-top: 120px;
	padding-bottom: 123px;
}

footer .container-infopg figure{
	margin-bottom: 80px;
	width: 300px;
}

footer .btn-plat_footer {
	display: flex;
}

footer .btn-plat_footer a {
	margin-bottom: 88px;
}


footer .btn-plat_footer a:first-child {
	margin-right: 27px;
}


footer .btn-plat_footer a figure {
	width: 170px;
	margin-bottom: 0;
}


footer .container-infopg p {
	color: #FFF;
	font-family: Montserrat;
	font-size: 19px;
	line-height: 23px;
}


footer .container-infopg {
	width: 33%;
}

footer .container-infocontacto {
	width: 45%;
}

footer .container-infocontacto div p {
	color: #FFF;
	font-family: Montserrat;
	font-size: 27px;
	line-height: 33px;
	margin-bottom: 37px;
}

footer .container-infocontacto div p i {
	margin-right: 10px;
}

footer .container-infocontacto div p a {
	text-decoration: none;
	color: #fff;
}

footer .container-infocontacto div {
	display: flex;
	flex-direction: column;
	padding-left: 60px;
	padding-right: 50px;
}

footer .container-infocontacto .icons-social {
	display: flex;
	flex-direction: row;
	padding-top: 60px;
}


footer .container-infocontacto .icons-social figure {
	margin-right: 60px;
}


footer .img-celular {
	position: relative;
	width: 20%;
}

footer .img-celular figure {
	position: absolute;
	top: -235px;
}

footer .footercontainer {
	padding-left: 50px;
}





@media only screen and (min-width: 1024px) and (max-width: 1280px) {

	header {
    	padding-left: 20px;
    	padding-right: 20px;
    }

	.burger {
    	display: flex;
    }

    nav {
	    width: 100%;
	    height: 100vh;
	    position: fixed;
	    top: 0;
	    right: 0;
	    background: #fff;
	    transition: all .3s ease;
	    visibility: hidden;
	    visibility: hidden;
	    opacity: 0;
	    display: none;
	    flex-direction: column;
	    justify-content: center;
	    z-index: 9;
	}

	header nav a {
		margin-bottom: 40px;
		font-size: 20px;
	}


	nav.active {
	    visibility: visible;
	    opacity: 1;
	    display: flex;
	}

	nav.active span.close {
	    position: absolute;
	    right: 30px;
		top: 30px;
	    display: block;
	    cursor: pointer;
	}

	header nav a.btn-azul_pd.login {
		margin: 0 auto;
		margin-bottom: 40px;
	}

	header nav a.btn-azul_pd.contacto {
		margin: 0 auto;
		display: inline-block;
	}

	nav div {
		display: flex;
		flex-direction: column;
	}


	/* SECCION 1 */

	section.quepago {
		padding-left: 20px;
		padding-right: 20px;
	}


	/* SECCION 2 */

	section.section-funcionamiento {
		padding-left: 20px;
		padding-right: 20px;
	}


	/* SECCION 3 */

	section.section-testimonios {
		padding-left: 20px;
		padding-right: 20px;
	}

	/* SECCION 4 */

	section.como-ayuda {
		padding-left: 20px;
		padding-right: 20px;
	}

	/* SECCION 5 */

	section.beneficios-empresas {
		padding-left: 20px;
		padding-right: 20px;
	}


	/* SECCION 6 */

	section.beneficios-colab {
		padding-left: 20px;
		padding-right: 20px;
	}

	/* SECCION 7 */

	section.media-section {
		padding-left: 20px;
		padding-right: 20px;
	}

}


@media only screen and (min-width: 960px) and (max-width: 1024px) {

	header {
    	padding-left: 20px;
    	padding-right: 20px;
    }

	.burger {
    	display: flex;
    }

    nav {
	    width: 100%;
	    height: 100vh;
	    position: fixed;
	    top: 0;
	    right: 0;
	    background: #fff;
	    transition: all .3s ease;
	    visibility: hidden;
	    visibility: hidden;
	    opacity: 0;
	    display: none;
	    flex-direction: column;
	    justify-content: center;
	    z-index: 9;
	}

	header nav a {
		margin-bottom: 40px;
		font-size: 20px;
	}


	nav.active {
	    visibility: visible;
	    opacity: 1;
	    display: flex;
	}

	nav.active span.close {
	    position: absolute;
	    right: 30px;
		top: 30px;
	    display: block;
	    cursor: pointer;
	}

	header nav a.btn-azul_pd.login {
		margin: 0 auto;
		margin-bottom: 40px;
	}

	header nav a.btn-azul_pd.contacto {
		margin: 0 auto;
		display: inline-block;
	}

	nav div {
		display: flex;
		flex-direction: column;
	}

	/* SECTION 1 */

	section.quepago {
		padding-left: 20px;
		padding-right: 20px;
	}


	section.quepago .container {
		flex-direction: column;
	}

	section.quepago .container div {
		width: 100%;
	}

	section.quepago .container div h2 {
		text-align: center;
	}

	section.quepago .container div p br {
		display: none;
	}

	section.quepago .container figure {
		width: 100%;
	}

	section.quepago .container div button {
		display: block;
		margin: 0 auto;
		margin-bottom: 30px;
	}

	section.quepago .container div button.noactive {
		margin-bottom: 50px;
	}



	/* SECTION 2 */

	section.section-funcionamiento {
		padding-left: 20px;
		padding-right: 20px;
	}

	section.quepago .container div p {
		font-size: 26px;
	}


	/* SECTION 3 */

	section.section-testimonios {
		padding-left: 20px;
		padding-right: 20px;
	}

	section.section-testimonios .container {
		flex-direction: column;
	}

	section.section-testimonios .container .titulo-testimonios {
		width: 100%;
		margin-bottom: 50px;
	}

	section.section-testimonios .container .titulo-testimonios h2 {
		text-align: center;
		margin-bottom: 60px;
	}

	section.section-testimonios .container .slider-testimonios {
		width: 80%;
		margin: 0 auto;
	}

	section.section-testimonios .container .titulo-testimonios figure {
		top: -72px;
		left: 20px;
	}


	/* SECTION 4 */


	section.como-ayuda {
		padding-left: 20px;
		padding-right: 20px;
	}

	section.como-ayuda .container-avatars .avatar-el {
		bottom: 36px;
		right: 130px;
		left: auto;
	}

	section.como-ayuda .container-avatars .g-play {
		right: 30px;
		top: 50px;
	}


	/* SECTION 5 */

	section.beneficios-empresas {
		padding-right: 20px;
		padding-left: 20px;
	}


	/* SECTION 6 */

	section.beneficios-colab {
		padding-right: 20px;
		padding-left: 20px;
	}


	/* SECTION 7 */

	section.media-section {
		padding-right: 20px;
		padding-left: 20px;
	}


	/* FOOTER */

	footer .footercontainer {
		flex-direction: column;
		padding-left: 20px;
		padding-right: 20px;
	}

	footer .container-infopg {
		width: 100%;
		margin-bottom: 100px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	footer .container-infopg p {
		font-size: 26px;
	}

	footer .container-infocontacto {
		width: 100%;
		margin-bottom: 100px;
	}

	footer .container-infocontacto div {
		padding: 0;
		justify-content: center;
		align-items: center;
	}


	footer .img-celular {
		width: 100%;
	}

	footer .img-celular figure {
		position: relative;
		top: 0;
		max-width: 300px;
		margin: 0 auto;
	}

	footer .container-infopg figure {
		width: 50%;
	}

}



@media only screen and (min-width: 768px) and (max-width: 959px) {

	header {
    	padding-left: 20px;
    	padding-right: 20px;
    }

	.burger {
    	display: flex;
    }

    nav {
	    width: 100%;
	    height: 100vh;
	    position: fixed;
	    top: 0;
	    right: 0;
	    background: #fff;
	    transition: all .3s ease;
	    visibility: hidden;
	    visibility: hidden;
	    opacity: 0;
	    display: none;
	    flex-direction: column;
	    justify-content: center;
	    z-index: 9;
	}

	header nav a {
		margin-bottom: 40px;
		font-size: 20px;
	}


	nav.active {
	    visibility: visible;
	    opacity: 1;
	    display: flex;
	}

	nav.active span.close {
	    position: absolute;
	    right: 30px;
		top: 30px;
	    display: block;
	    cursor: pointer;
	}

	header nav a.btn-azul_pd.login {
		margin: 0 auto;
		margin-bottom: 40px;
	}

	header nav a.btn-azul_pd.contacto {
		margin: 0 auto;
		display: inline-block;
	}

	nav div {
		display: flex;
		flex-direction: column;
	}

	/* SECTION 1 */

	section.quepago {
		padding-left: 20px;
		padding-right: 20px;
	}


	section.quepago .container {
		flex-direction: column;
	}

	section.quepago .container div {
		width: 100%;
	}

	section.quepago .container div h2 {
		text-align: center;
		font-size: 30px;
	}

	section.quepago .container div p br {
		display: none;
	}

	section.quepago .container figure {
		width: 100%;
	}

	section.quepago .container div button {
		display: block;
		margin: 0 auto;
		margin-bottom: 30px;
	}

	section.quepago .container div button.noactive {
		margin-bottom: 50px;
	}



	/* SECTION 2 */

	section.section-funcionamiento {
		padding-left: 20px;
		padding-right: 20px;
	}

	section.section-funcionamiento .container h2 {
		font-size: 30px;
	}

	section.section-funcionamiento .container .container-funcionamiento p {
		font-size: 20px;
	}

	section.section-funcionamiento .container-funcionamiento div button {
		width: 100%;
	}


	/* SECTION 3 */

	section.section-testimonios {
		padding-left: 20px;
		padding-right: 20px;
	}

	section.section-testimonios .container {
		flex-direction: column;
	}

	section.section-testimonios .container .titulo-testimonios {
		width: 100%;
		margin-bottom: 50px;
	}

	section.section-testimonios .container .titulo-testimonios h2 {
		font-size: 30px;
		text-align: center;
		margin-bottom: 60px;
	}

	section.section-testimonios .container .slider-testimonios {
		width: 90%;
		margin: 0 auto;
	}

	section.section-testimonios .container .titulo-testimonios figure {
		top: -72px;
		left: 20px;
	}

	section.section-testimonios .container .titulo-testimonios p {
		font-size: 20px;
	}


	/* SECTION 4 */


	section.como-ayuda {
		padding-left: 20px;
		padding-right: 20px;
	}

	section.como-ayuda .container-avatars .avatar-el {
		bottom: 36px;
		right: 130px;
		left: auto;
	}

	section.como-ayuda .container-avatars .g-play {
		right: 30px;
		top: 50px;
	}

	section.como-ayuda .container .txt-ayuda h2 {
		font-size: 30px;
	}


	/* SECTION 5 */

	section.beneficios-empresas {
		padding-right: 20px;
		padding-left: 20px;
	}

	section.beneficios-empresas .container h2 {
		font-size: 30px;
	}

	section.beneficios-empresas .container .container-beneficiosemp div p {
		font-size: 20px;
	}

	section.beneficios-empresas .container .container-beneficiosemp div button {
		width: 100%;
	}


	/* SECTION 6 */

	section.beneficios-colab {
		padding-right: 20px;
		padding-left: 20px;
	}

	section.beneficios-colab .container h2 {
		font-size: 30px;
	}

	section.beneficios-colab .container .container-beneficioscolab div p {
		font-size: 20px;
	}

	section.beneficios-colab .container .container-beneficioscolab div button {
		width: 100%;
	}


	/* SECTION 7 */

	section.media-section {
		padding-right: 20px;
		padding-left: 20px;
	}

	section.media-section div h2 {
		width: 30px;
		margin-bottom: 60px;
	}

	section.media-section div p {
		font-size: 20px;
	}

	section.media-section figure::before {
		height: 106%;
	}


	/* FOOTER */

	footer .footercontainer {
		flex-direction: column;
		padding-left: 20px;
		padding-right: 20px;
	}

	footer .container-infopg {
		width: 100%;
		margin-bottom: 100px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	footer .container-infocontacto {
		width: 100%;
		margin-bottom: 100px;
	}

	footer .container-infocontacto div {
		padding: 0;
		justify-content: center;
		align-items: center;
	}

	footer .container-infocontacto div p {
		font-size: 20px;
	}

	footer .img-celular {
		width: 100%;
	}

	footer .img-celular figure {
		position: relative;
		top: 0;
		max-width: 300px;
		margin: 0 auto;
	}

	footer .container-infopg figure {
		width: 50%;
	}

}




@media only screen and (max-width: 767px) {

	header {
    	padding-left: 20px;
    	padding-right: 20px;
    }

	.burger {
    	display: flex;
    }

    nav {
	    width: 100%;
	    height: 100vh;
	    position: fixed;
	    top: 0;
	    right: 0;
	    background: #fff;
	    transition: all .3s ease;
	    visibility: hidden;
	    visibility: hidden;
	    opacity: 0;
	    display: none;
	    flex-direction: column;
	    justify-content: center;
	    z-index: 9;
	}

	header nav a {
		margin-bottom: 40px;
		font-size: 20px;
	}


	nav.active {
	    visibility: visible;
	    opacity: 1;
	    display: flex;
	}

	nav.active span.close {
	    position: absolute;
	    right: 30px;
		top: 30px;
	    display: block;
	    cursor: pointer;
	}

	header nav a.btn-azul_pd.login {
		margin: 0 auto;
		margin-bottom: 40px;
	}

	header nav a.btn-azul_pd.contacto {
		margin: 0 auto;
		display: inline-block;
	}

	nav div {
		display: flex;
		flex-direction: column;
	}

	div.poup-empresas .container,
	div.poup-colaboradores .container {
		width: 100%;
		padding-left: 0;
		padding-right: 0;
	}

	div.poup-empresas h3,
	div.poup-colaboradores h3 {
		font-size: 2rem;
	}

	div.poup-empresas p,
	div.poup-colaboradores p {
		font-size: 14px;
	}


	/* SECTION 1 */

	section.quepago {
		padding-left: 20px;
		padding-right: 20px;
	}

	section.quepago .container {
		flex-direction: column;
	}

	section.quepago .container div {
		width: 100%;
	}

	section.quepago .container div h2 {
		text-align: center;
		font-size: 20px;
		letter-spacing: 8px;
	}

	section.quepago .container div p {
		font-size: 16px;
		text-align: center;
	}

	section.quepago .container div p br {
		display: none;
	}

	section.quepago .container figure {
		width: 100%;
	}

	section.quepago .container div button {
		display: block;
		margin: 0 auto;
		margin-bottom: 30px;
		font-size: 15px;
	}

	section.quepago .container div button.noactive {
		margin-bottom: 50px;
	}

	/* SECTION 2 */

	section.section-funcionamiento {
		padding-left: 20px;
		padding-right: 20px;
	}

	section.section-funcionamiento .container h2 {
		font-size: 20px;
		letter-spacing: 8px;
	}

	section.section-funcionamiento .container-funcionamiento {
		flex-direction: column;
	}

	section.section-funcionamiento .container-funcionamiento figure {
		width: 100%;
	}

	section.section-funcionamiento .container-funcionamiento div {
		width: 100%;
	}

	section.section-funcionamiento .container .container-funcionamiento p {
		font-size: 16px;
		text-align: center;
	}

	section.section-funcionamiento .container-funcionamiento div button {
		width: 100%;
		font-size: 15px;
	}


	/* SECTION 3 */

	section.section-testimonios {
		padding-left: 20px;
		padding-right: 20px;
	}

	section.section-testimonios .container {
		flex-direction: column;
	}

	section.section-testimonios .container .titulo-testimonios {
		width: 100%;
		margin-bottom: 50px;
	}

	section.section-testimonios .container .titulo-testimonios h2 {
		font-size: 20px;
		text-align: center;
		margin-bottom: 60px;
		letter-spacing: 8px;
	}

	section.section-testimonios .container .slider-testimonios {
		width: 100%;
	}

	section.section-testimonios .container .titulo-testimonios figure {
		top: -72px;
		left: 20px;
	}

	section.section-testimonios .slider-testimonios .container-card .card-titulo:nth-child(2n+1) {
		margin-right: 0;
	}

	section.section-testimonios .container .titulo-testimonios p {
		font-size: 16px;
		text-align: center;
	}


	/* SECTION 4 */


	section.como-ayuda {
		padding-left: 20px;
		padding-right: 20px;
	}

	section.como-ayuda .container {
		flex-direction: column-reverse;
	}

	section.como-ayuda .container .container-avatars {
		width: 100%;
	}

	section.como-ayuda .container .txt-ayuda {
		padding: 0;
	}

	section.como-ayuda .container .txt-ayuda h2 {
		font-size: 20px;
		text-align: center;
		margin-bottom: 130px;
		letter-spacing: 8px;
	}

	section.como-ayuda .container-avatars .avatar-el {
		left: 70%;
	}

	section.como-ayuda .container-avatars .ella-maria {
		top: -100px;
		left: 24px;
		width: 61%;
	}

	section.como-ayuda .container-avatars .g-play {
		right: 25px;
		top: 67px;
		width: 20%;
	}




	/* SECTION 5 */

	section.beneficios-empresas {
		padding-right: 20px;
		padding-left: 20px;
	}

	section.beneficios-empresas .container h2 {
		font-size: 20px;
		letter-spacing: 8px;
	}

	section.beneficios-empresas .container .container-beneficiosemp {
		flex-direction: column;
	}

	section.beneficios-empresas .container .container-beneficiosemp figure {
		width: 100%;
	}

	section.beneficios-empresas .container .container-beneficiosemp div {
		width: 100%;
		padding-left: 0;
	}

	section.beneficios-empresas .container .container-beneficiosemp div p {
		font-size: 16px;
		text-align: center;
	}

	section.beneficios-empresas .container .container-beneficiosemp div button {
		display: block;
		margin: 0 auto;
		margin-bottom: 35px;
		width: 100%;
		font-size: 15px;
	}


	/* SECTION 6 */

	section.beneficios-colab {
		padding-right: 20px;
		padding-left: 20px;
	}

	section.beneficios-colab .container h2 {
		font-size: 20px;
		letter-spacing: 8px;
	}

	section.beneficios-colab .container .container-beneficioscolab {
		flex-direction: column-reverse;
	}

	section.beneficios-colab .container .container-beneficioscolab div {
		width: 100%;
	}

	section.beneficios-colab .container .container-beneficioscolab figure {
		width: 100%;
	}

	section.beneficios-colab .container .container-beneficioscolab div p {
		font-size: 16px;
		text-align: center;
	}

	section.beneficios-colab .container .container-beneficioscolab div button {
		display: block;
		margin: 0 auto;
		width: 100%;
		font-size: 15px;
	}


	/* SECTION 7 */

	section.media-section {
		padding-right: 20px;
		padding-left: 20px;
	}

	section.media-section .container {
		flex-direction: column;
	}

	section.media-section figure {
		width: 90%;
	}

	section.media-section div.container div {
		width: 100%;
	}

	section.media-section div h2 {
		font-size: 20px;
		text-align: center;
		margin-bottom: 50px;
		letter-spacing: 8px;
	}

	section.media-section div p {
		font-size: 16px;
		text-align: center;
	}

	section.media-section div button {
		display: block;
		margin: 0 auto;
		font-size: 15px;
	}


	/* FOOTER */

	footer .footercontainer {
		flex-direction: column;
		padding-left: 20px;
		padding-right: 20px;
	}

	footer .container-infopg {
		width: 100%;
		margin-bottom: 100px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	footer .container-infocontacto {
		width: 100%;
		margin-bottom: 100px;
	}

	footer .container-infocontacto div {
		padding: 0;
		justify-content: center;
		align-items: center;
	}

	footer .container-infopg p {
		font-size: 16px;
		text-align: center;
	}

	footer .container-infocontacto div p {
		font-size: 16px;
	}

	footer .img-celular {
		width: 100%;
	}

	footer .img-celular figure {
		position: relative;
		top: 0;
		max-width: 300px;
		margin: 0 auto;
	}

	footer .btn-plat_footer {
		display: block;
		margin-bottom: 60px;
	}

	.slide-desktop {
		display: none !important;
	}

	.slide-mobile {
		display: block !important;
	}

}


@media only screen and (max-width: 320px) {

}


